.link-button {
    margin-top: 3px;
    margin-right: 10px;
    vertical-align: top;
    color: #001E6C;
    float: right;
    border-color: #001E6C;
}

.link-button:hover {
    color: skyblue;
    border-color: skyblue;
}